/* BUTTONS */
.button {
    display: inline-block;
    border: transparent;
    background-color: $color-accent-gold;
    color: $color-text-body;
    text-decoration: none;
    padding: 1em;
    border-radius: 50px;
    margin: 1em 0.5em 1em 0;

    &:hover {
        border: transparent;
        background-color:transparent;
    }
}